{% extends 'mainapp/main_template.html' %}
{% load static %}

{% block title %}
    Social Media - {{ username }}
{% endblock %}

{% block css_links %}
<link rel="stylesheet" href="{% static 'css/user/style_user.css' %}">
<link rel="stylesheet" href="{% static 'css/posts/style_posts.css' %}">
{% endblock %}

{% block content %}

<section class="inner-block">
    
    <div class="background">
        {% if user.background_picture %}
            <img id="img-background" src="{{ user.background_picture.url }}" alt="">
        {% else %}
            <img id="img-background" src="{% static '/img/mainapp/notfound.png' %}" alt="">
        {% endif %}
    </div>

    <div class="main-contents">
        {% if user.profile_picture %}
            <img class="img-profile" src="{{ user.profile_picture.url }}" alt="{% static 'img/mainapp/notfound.png' %}">
        {% else %}
            <img class="img-profile" src="{% static '/img/mainapp/user.png' %}" alt="{% static '/img/mainapp/notfound.png' %}">
        {% endif %}
        <div>
            <h3>{{ username }}</h3>
            <p>{{ user.email }}</p>
        </div>
    </div>
    <div class="user-posts">
        <ul>
            {% for post in user_posts %}
            <li class="post">
                <div class="top-section">
                    <a href="{% url 'user:profiledetails' username=post.author %}">
                        <img class="img-profile" src="{{ post.author|photo_filter }}" alt="{% static 'img/mainapp/notfound.png' %}">                
                    </a>
                    <div class="top-right-section">
                        <h4>{{ post.author }}</h4>
                        <p>{{ post.created }}</p>
                    </div>
                </div>
                <div class="middle-section">
                    <p>{{ post.text }}</p>
                </div>
                <div class="bottom-section">
                    <button class="btn-classic">
                        <a href="{% url 'posts:postreact' pk=post.pk in_post=2 %}">
                            <p>👍 {% if post.amount_of_likes > 0 %}{{ post.amount_of_likes }}{% endif %}</p>
                        </a>
                    </button>
                    {% if user == post.author %}
                    <button class="btn-delete">
                        <a href="{% url 'posts:postdelete' pk=post.pk %}">
                            <p>Delete post</p>
                        </a>
                    </button>
                    {% endif %}
                    <button class="btn-classic">
                        <a href="{% url 'posts:details' pk=post.pk %}">
                            <p>See details</p>
                        </a>
                    </button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

{% endblock %}