{% extends 'mainapp/main_template.html' %}
{% load static %}

{% block title %}
    Social Media - Posts
{% endblock %}

{% block css_links %}
<link rel="stylesheet" href="{% static 'css/posts/style_posts.css' %}">
{% endblock %}

{% block content %}

<section class="posts-table">
    <ul>
        <li class="post">
            <div class="top-section">
                <img src="{% static 'img/mainapp/user.png' %}" alt="{% static 'img/mainapp/notfound.png' %">
                <div class="top-right-section">
                    <h4>{{ post.author }}</h4>
                    <p>{{ post.created }}</p>
                </div>
            </div>
            <div class="middle-section">
                <p>{{ post.text }}</p>
            </div>
            <div class="bottom-section">
                <button class="btn-classic">
                    <a href="{% url 'posts:reactpost' pk=post.pk in_post=1 %}">
                        <p>👍 {% if post.amount_of_likes > 0 %}{{ post.amount_of_likes }}{% endif %}</p>
                    </a>
                </button>
            </div>
        </li>
        <li id="comment-section">
            <div class="top-section">
                <h4>Comments:</h4>
            </div>
            <ul id="comments-ul">
                {% for comment in comments %}
                <li>
                    <div class="upper">
                        <h5>{{comment.author}}</h5>
                    </div>
                    <div class="middle">
                        {{comment.comment}}
                    </div>
                    <div class="lower">
                        <button class="btn-classic">
                            <a href="{% url 'posts:reactcomment' pk=comment.pk %}">
                                <p>👍 {% if comment.amount_of_likes > 0 %}{{ comment.amount_of_likes }}{% endif %}</p>
                            </a>
                        </button>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</section>

{% endblock %}