{% extends 'mainapp/main_template.html' %}
{% load static %}

{% block title %}
    Social Media - Posts
{% endblock %}

{% block css_links %}
<link rel="stylesheet" href="{% static 'css/posts/style_posts.css' %}">
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/posts/post_details.js' %}"></script>
{% endblock %}

{% block content %}

<section class="posts-table">
    <ul>
        <li class="post">
            <div class="top-section">
                <a href="{% url 'user:profiledetails' username=post.author %}">
                    <img src="{% static 'img/mainapp/user.png' %}" alt="{% static 'img/mainapp/notfound.png' %">
                </a>
                <div class="top-right-section">
                    <h4>{{ post.author }}</h4>
                    <p>{{ post.created }}</p>
                </div>
            </div>
            <div class="middle-section">
                <p>{{ post.text }}</p>
            </div>
            <div class="bottom-section">
                <button class="btn-classic">
                    <a href="{% url 'posts:postreact' pk=post.pk in_post=1 %}">
                        <p>👍 {% if post.amount_of_likes > 0 %}{{ post.amount_of_likes }}{% endif %}</p>
                    </a>
                </button>
                {% if user == post.author %}
                    <button class="btn-delete">
                        <a href="{% url 'posts:postdelete' pk=post.pk %}">
                            <p>Delete post</p>
                        </a>
                    </button>
                    <button class="btn-classic" id="edit-btn">
                        <p>Edit post</p>
                    </button>
                {% endif %}
            </div>
        </li>
        <li class="post" id="edit-section">
            <form action="{% url 'posts:postupdate' pk=post.pk %}" method="post">
                {% csrf_token %}
                {{ update_form.text }}
                <button class="btn-classic" type="submit">
                    Save changes
                </button>
            </form>
        </li>
        {% if comment_exist is True %}
        <li id="comment-section">
            <div class="top-section">
                <h4>Comments:</h4>
            </div>
            <ul id="comments-ul">
                {% for comment in comments %}
                <li>
                    <div class="upper">
                        <h5>{{comment.author}}</h5>
                    </div>
                    <div class="middle">
                        {{comment.comment}}
                    </div>
                    <div class="lower">
                        <button class="btn-classic">
                            <a href="{% url 'posts:commentreact' pk=comment.pk %}">
                                <p>👍 {% if comment.amount_of_likes > 0 %}{{ comment.amount_of_likes }}{% endif %}</p>
                            </a>
                        </button>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        <li class="add-section">
            <div class="top-section">
                <h4>Add comment: </h4>
                <button class="btn-classic" form="add-comment" type="submit">Add</button>    
            </div>
            <form method="POST" id="add-comment" enctype="multipart/form-data" action="{% url 'posts:commentcreate' pk=post.pk %}">
                {% csrf_token %}
                {{form.comment}}
            </form>
        </li>
    </ul>
</section>

{% endblock %}