{% extends 'mainapp/main_template.html' %}
{% load static %}

{% block title %}
    Social Media - Posts
{% endblock %}

{% block css_links %}
<link rel="stylesheet" href="{% static 'css/posts/style_posts.css' %}">
{% endblock %}

{% block content %}

<section class="posts-table">
    <ul>
        {% for post in posts %}
        <li class="post">
            <div class="top-section">
                <img src="{% static 'img/mainapp/user.png' %}" alt="{% static 'img/mainapp/notfound.png' %">
                <div class="top-right-section">
                    <h4>{{ post.author }}</h4>
                    <p>{{ post.created }}</p>
                </div>
            </div>
            <div class="middle-section">
                <p>{{ post.text }}</p>
            </div>
            <div class="bottom-section">
                <button class="btn-classic">
                    <a href="{% url 'posts:reactpost' pk=post.pk in_post=0 %}">
                        <p>👍 {% if post.amount_of_likes > 0 %}{{ post.amount_of_likes }}{% endif %}</p>
                    </a>
                </button>
                <button class="btn-classic">
                    <a href="{% url 'posts:details' pk=post.pk %}">
                        <p>See details</p>
                    </a>
                </button>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}