{% extends 'mainapp/main_template.html' %}
{% load static %}

{% block title %}
    Social Media - Login
{% endblock %}

{% block css_links %}
<link rel="stylesheet" href="{% static 'css/authorization/style_authorization.css' %}">
{% endblock %}


{% block content %}

<section class="authorization-panel">
    <h3>Login to your account</h3>
    <form method="POST" action="{% url 'authorization:login' %}">
        {% csrf_token %}
        <p>Login:</p>
        {{ form.username }}
        <p>Password:</p>
        {{ form.password }}
        <button class="btn-classic" type="submit">Log in</button>
    </form>

</section>

{% endblock %}