{% extends 'mainapp/main_template.html' %}
{% load static %}

{% block title %}
    Social Media - Login
{% endblock %}

{% block css_links %}
<link rel="stylesheet" href="{% static 'css/authorization/style_authorization.css' %}">
{% endblock %}


{% block content %}

<section class="authorization-panel">
    <h3>Register to social media</h3>
    <form method="POST" action="{% url 'authorization:register' %}">
        {% csrf_token %}
        <p>Email:</p>
        {{ form.email }}
        <p>Username:</p>
        {{ form.username }}
        <p>Password:</p>
        {{ form.password1 }}
        <p>Confirm password:</p>
        {{ form.password2 }}
        <button class="btn-classic" type="submit">Register</button>
    </form>
        {{ form.errors }}

</section>

{% endblock %}