.authorization-panel{
    min-height: 70vh;
    width: 80%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.authorization-panel form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    min-height: 30vh;
    height: 50%;
    width: 40%;
    border: #ccc 1px solid;
    border-radius: 4px;
}


.authorization-panel form p{
    margin-bottom: 0;
    padding-bottom: 0;
}