.posts-table{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: #fff;
}

.posts-table ul{
    min-height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 5px;
}

.posts-table ul li{
    margin: 5px;
    height: 50vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    border: #ccc 1px solid;
}

.top-section{
    height: 20%;
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    border-bottom: #ccc 1px solid;
}

.top-section img{
    height: 70px;
    width: 70px;
    border-radius: 35px;
    margin-left: 25px;
}

.top-right-section{
    margin-left: 25px;
}

.middle-section{
    width: 95%;
    height: 65%;
    padding:10px;
}

.bottom-section{
    border-top: #ccc 1px solid;
    width: 95%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#comments-ul{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
}

#comments-ul li{
    height: 15vh;
    width: 95%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: rgb(231, 231, 231) 1px solid;
}

#comments-ul li *{
    width: 100%;
    margin: 0;
}

.upper{
    height: 15%;
}

.middle{
    height: 60%;
    padding:3px 0px;
}

.lower{
    height: 20%;
}

.lower button{
    max-height: 100px;
    max-width: 40px;
    margin:0px;
    margin-left:15px;
    font-size: small;
    padding:3px;
}