*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family:"Roboto",Geneva, Tahoma, sans-serif;
    background: #fff;
    color:#333;
    line-height: 1.2;
    font-weight: 300;
    font-size: 14px;
}

ul {
    list-style: none;
}