*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family:"Roboto",Geneva, Tahoma, sans-serif;
    background: #fff;
    color:#333;
    line-height: 1.2;
    font-weight: 300;
    font-size: 14px;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: #e6e6ff;
}

a:visited{
    color: #e6e6ff;
}

a:hover,button:hover{
    cursor: pointer;
}


/* GLOBAL VARABLES end */

.btn-classic{
    margin: 5px;
    padding: 10px;
    background-color: #000080;
    font-size: medium;
    font-weight: 400;
    color: #fff;
    border:#000080 1px solid;
    border-radius: 5px;
}

.btn-classic:hover{
    background-color: #000033;
}

/* buttons end*/

.global-container{
    display: flex;
    background: #e5e5e5;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
}


header{
    min-height: 70px;
    height: 8vh;
}

.navbar{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    overflow: hidden;
    background: #000033;
}


#logo{
    height: 90%;
    width: 70px;
}

#logo img{
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}


nav{
    height: 90%;
    width: 80%;
}

nav ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    height: 95%;
    width: 120px;
    border-radius: 5px;
}

nav ul li a{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;  
}

nav ul li a:hover{
    background:  #000080;
}

/* navbar-end */
